<html>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#" style="display: flex; flex-direction:row;"">
          <img src="/images/universtiylogo.png" width="40" height="30" class="d-inline-block align-top" alt="">
        <span style="display: flex;padding-left: 20px ; font-size: larger;"><%=cresult.adminname%></span>
        </a>
        <span>
        <img src="/images/<%=cresult.image%>" style="width: 50;">
    
            <a href="/admin/logout" class="navbar-brand">logout</a>
        </span>
        
      </nav>
      <div class="form-row">
      <div class="form-group col-md-2" style="background:url(http://localhost:3000/images/uni.jpeg);background-size: cover; height: 100vh;  background-repeat:no-repeat ; background-position:top;">
        <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="/faculty/facultyinterface" style="font-size: 20; color: #fff; margin: 15px;"><i class="fas fa-user-graduate"></i> Add faculties</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/faculty/showallfaculties" style="font-size: 20; color: #fff; margin: 15px;"><i class="fas fa-th-list"></i>List faculties</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/faculty/searchbyid" style="font-size: 20; color: #fff; margin: 15px;"><i class="fas fa-search"></i>Search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/admin/logout" style="font-size: 20; color: #fff; margin: 15px;"><i class="fas fa-sign-out-alt"></i>log out</a>
            </li>
          </ul>
        </div>
      <div class="form-group col-md-10">
        <center>
            <form action="/faculty/editpicture" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="facultyid" value="<%=result.fid%>">
                    <h3><%=result.fn%></h3><br>
                    <%=result.ln%><br>
                    <img src="/images/<%=result.image%>" width="200"><br><br>
            
            <input type="file" name="image" id=""><br>
            <input type="submit" class="btn-btn primary" name="" value="change photo">
        </form>
        </center>
     </div>
      </div> 
    
</html>